label {
  margin: 0px 2px 0px 0px;
}

.searchbar_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 1.5rem;
  font-size: 1.5rem;
}

.searchbar_checkbox-container {
  position: relative;
}

.searchbar_text-input {
  border-radius: 4px;
  border: 2px solid #51596a;
  height: 2rem;
  font-size: 2rem;
}

.searchbar_includeCompleted-toggle {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 2px solid #51596a;
  margin: 0px 4px;
  transform: translateY(12%);
}
