.render-item_item-list {
  overflow-y: auto;
  margin: 2%;
}

.list-size_small {
  max-height: 150px;
}

.list-size_medium {
  max-height: 300px;
}

.render-item-list_item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 8px 0px;
}

.render-item-list_total {
  text-align: right;
}

.render-item-list_text-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.render-item-list_remove-item-button {
  background: none;
  border: none;
}

.render-item-list_image-thumb {
  height: 30px;
  border-radius: 3px;
  margin-right: 4px;
}
