.render-item_item-list {
  overflow-y: auto;
  margin: 2%;
}

.list-size_small {
  max-height: 150px;
}

.list-size_medium {
  max-height: 250px;
}

.render-item-list_item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.render-item-list_total {
  text-align: right;
}
