.create-order_wrapper {
  width: 70%;
  max-width: 900px;
  margin: auto;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 96%;
  overflow-y: auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  background-color: #fffffff0;
  border: solid 4px #51596a;
  border-radius: 8px;
}

.create-order_container {
  overflow: auto;
  z-index: 10;
  padding: 8px;
}

.create-order_top-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 2rem;
  align-items: baseline;
}

.create-order_name-input {
  height: 2rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 2px solid #51596a;
}

.required-label {
  color: rgb(136, 0, 0);
  font-size: 0.8rem;
}

.required {
  border: 2px solid rgb(136, 0, 0);
}

.create-order_title {
  margin: 0px 4px;
}

.create-order_buttons-container {
  text-align: right;
  margin-bottom: 4px;
}
